
  <div class="col-md-12">
    <div class="card">
        <h5 class="card-header">GEPAD - DASHBOARD GERAL</h5>
        <div class="card-body">
            <div class="row g-3">
                  <div class="col-md-4">
                         <div class="card">
                            <h5 class="card-header">ZONA</h5>
                            <div class="card-body ">
                                    <h1 class="text-center">{{Zonas}}</h1>
                            </div>
                            <div class="card-body">
                                <a href="/zona" class="card-link">Listar</a>
                                <a href="/zona/new" class="card-link">Registar</a>
                            </div>
                         </div>
                  </div>
                  <div class="col-md-4">
                         <div class="card">
                            <h5 class="card-header">COMUNIDADE</h5>
                            <div class="card-body">
                                      <h1 class="text-center">{{Comunidades}}</h1>
                            </div>
                            <div class="card-body">
                                <a href="/comunidade" class="card-link">Listar</a>
                                <a href="/comunidade/new" class="card-link">Registar</a>
                            </div>
                         </div>
                  </div>
                  <div class="col-md-4">
                         <div class="card">
                            <h5 class="card-header">NUCLEO</h5>
                            <div class="card-body">
                                      <h1 class="text-center">{{Nucleos}}</h1>
                            </div>
                            <div class="card-body">
                                <a href="/nucleo" class="card-link">Listar</a>
                                <a href="/nucleo/new" class="card-link">Registar</a>
                            </div>
                         </div>
                  </div>

                  <div class="col-md-4">
                         <div class="card">
                            <h5 class="card-header">CONTRIBUENTE</h5>
                            <div class="card-body">
                                      <h1 class="text-center">{{Dizimistas}}</h1>
                            </div>
                            <div class="card-body">
                                <a href="/dizimista" class="card-link">Listar</a>
                                <a href="/dizimista/new" class="card-link">Registar</a>
                            </div>
                         </div>
                  </div>

                  <div class="col-md-4">
                         <div class="card">
                            <h5 class="card-header">Padroeiro</h5>
                            <div class="card-body">
                                      <h1 class="text-center">{{Padroeiros}}</h1>
                            </div>
                            <div class="card-body">
                                <a href="/padroeiro" class="card-link">Listar</a>
                                <a href="/padroeiro/new" class="card-link">Registar</a>
                            </div>
                         </div>
                  </div>
            </div>

            

        </div>
    </div>
  </div>